<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxzy.dao.TbQuestionsMapper" >
  <resultMap id="BaseResultMap" type="com.hxzy.pojo.TbQuestions" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="joinTime" property="jointime" jdbcType="TIMESTAMP" />
    <result column="lessonId" property="lessonid" jdbcType="INTEGER" />
    <result column="taoTiId" property="taotiid" jdbcType="INTEGER" />
    <result column="optionA" property="optiona" jdbcType="VARCHAR" />
    <result column="optionB" property="optionb" jdbcType="VARCHAR" />
    <result column="optionC" property="optionc" jdbcType="VARCHAR" />
    <result column="optionD" property="optiond" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, subject, type, joinTime, lessonId, taoTiId, optionA, optionB, optionC, optionD, 
    answer, note
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hxzy.pojo.TbQuestionsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_questions
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_questions
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hxzy.pojo.TbQuestionsExample" >
    delete from tb_questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hxzy.pojo.TbQuestions" >
    insert into tb_questions (id, subject, type, 
      joinTime, lessonId, taoTiId, 
      optionA, optionB, optionC, 
      optionD, answer, note
      )
    values (#{id,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{jointime,jdbcType=TIMESTAMP}, #{lessonid,jdbcType=INTEGER}, #{taotiid,jdbcType=INTEGER}, 
      #{optiona,jdbcType=VARCHAR}, #{optionb,jdbcType=VARCHAR}, #{optionc,jdbcType=VARCHAR}, 
      #{optiond,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hxzy.pojo.TbQuestions" >
    insert into tb_questions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="jointime != null" >
        joinTime,
      </if>
      <if test="lessonid != null" >
        lessonId,
      </if>
      <if test="taotiid != null" >
        taoTiId,
      </if>
      <if test="optiona != null" >
        optionA,
      </if>
      <if test="optionb != null" >
        optionB,
      </if>
      <if test="optionc != null" >
        optionC,
      </if>
      <if test="optiond != null" >
        optionD,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="jointime != null" >
        #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="lessonid != null" >
        #{lessonid,jdbcType=INTEGER},
      </if>
      <if test="taotiid != null" >
        #{taotiid,jdbcType=INTEGER},
      </if>
      <if test="optiona != null" >
        #{optiona,jdbcType=VARCHAR},
      </if>
      <if test="optionb != null" >
        #{optionb,jdbcType=VARCHAR},
      </if>
      <if test="optionc != null" >
        #{optionc,jdbcType=VARCHAR},
      </if>
      <if test="optiond != null" >
        #{optiond,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hxzy.pojo.TbQuestionsExample" resultType="java.lang.Integer" >
    select count(*) from tb_questions
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_questions
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.jointime != null" >
        joinTime = #{record.jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lessonid != null" >
        lessonId = #{record.lessonid,jdbcType=INTEGER},
      </if>
      <if test="record.taotiid != null" >
        taoTiId = #{record.taotiid,jdbcType=INTEGER},
      </if>
      <if test="record.optiona != null" >
        optionA = #{record.optiona,jdbcType=VARCHAR},
      </if>
      <if test="record.optionb != null" >
        optionB = #{record.optionb,jdbcType=VARCHAR},
      </if>
      <if test="record.optionc != null" >
        optionC = #{record.optionc,jdbcType=VARCHAR},
      </if>
      <if test="record.optiond != null" >
        optionD = #{record.optiond,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_questions
    set id = #{record.id,jdbcType=INTEGER},
      subject = #{record.subject,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=CHAR},
      joinTime = #{record.jointime,jdbcType=TIMESTAMP},
      lessonId = #{record.lessonid,jdbcType=INTEGER},
      taoTiId = #{record.taotiid,jdbcType=INTEGER},
      optionA = #{record.optiona,jdbcType=VARCHAR},
      optionB = #{record.optionb,jdbcType=VARCHAR},
      optionC = #{record.optionc,jdbcType=VARCHAR},
      optionD = #{record.optiond,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxzy.pojo.TbQuestions" >
    update tb_questions
    <set >
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="jointime != null" >
        joinTime = #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="lessonid != null" >
        lessonId = #{lessonid,jdbcType=INTEGER},
      </if>
      <if test="taotiid != null" >
        taoTiId = #{taotiid,jdbcType=INTEGER},
      </if>
      <if test="optiona != null" >
        optionA = #{optiona,jdbcType=VARCHAR},
      </if>
      <if test="optionb != null" >
        optionB = #{optionb,jdbcType=VARCHAR},
      </if>
      <if test="optionc != null" >
        optionC = #{optionc,jdbcType=VARCHAR},
      </if>
      <if test="optiond != null" >
        optionD = #{optiond,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxzy.pojo.TbQuestions" >
    update tb_questions
    set subject = #{subject,jdbcType=VARCHAR},
      type = #{type,jdbcType=CHAR},
      joinTime = #{jointime,jdbcType=TIMESTAMP},
      lessonId = #{lessonid,jdbcType=INTEGER},
      taoTiId = #{taotiid,jdbcType=INTEGER},
      optionA = #{optiona,jdbcType=VARCHAR},
      optionB = #{optionb,jdbcType=VARCHAR},
      optionC = #{optionc,jdbcType=VARCHAR},
      optionD = #{optiond,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <resultMap type="com.hxzy.pojo.TbQuestions" id="qWITHlt">
        <id column="ID" property="id" />
        <result column="subject" property="subject" />
         <result column="type" property="type" />
        	<association property="lesson" javaType="com.hxzy.pojo.TbLesson">        	
        	<result column="lname" property="name" />        	
        	</association>
        	<association property="taoti" javaType="com.hxzy.pojo.TbTaoti">        	
        	<result column="tname" property="name" />        	
        	</association>        
    </resultMap>
  <select id="questionsWithLessonTaoti" resultMap="qWITHlt">
  SELECT j.`lname`,j.`tname`,q.`subject`,q.`type`,q.`id`FROM 
  tb_questions q LEFT JOIN 
  (SELECT t.`ID` as tid,t.`Name` AS tname,l.`Name` as lname FROM tb_taoti t LEFT JOIN tb_lesson l ON t.LessonID=l.ID) j 
  ON q.taotiid=j.tid 
  </select>
  <resultMap type="com.hxzy.pojo.TbQuestions" id="qWITHltp">
        <id column="ID" property="id" />
        <result column="subject" property="subject" />
         <result column="type" property="type" />
         <result column="optiona" property="optiona" />
         <result column="optionb" property="optionb" />
         <result column="optionc" property="optionc" />
         <result column="optiond" property="optiond" />
         <result column="note" property="note" />
         <result column="answer" property="answer" />
        	<association property="lesson" javaType="com.hxzy.pojo.TbLesson">        	
        	<result column="lname" property="name" />        	
        	</association>
        	<association property="taoti" javaType="com.hxzy.pojo.TbTaoti">        	
        	<result column="tname" property="name" />        	
        	</association>        
    </resultMap>
   <select id="questionWithLessonTaoti" parameterType="java.lang.Integer" resultMap="qWITHltp">
  SELECT j.`lname`,j.`tname`,q.`subject`,q.`type`,q.`id`,q.`optiona`,q.`optionb`,q.`optionc`,q.`optiond`,q.`note`,q.`answer` FROM 
  tb_questions q LEFT JOIN 
  (SELECT t.`ID` as tid,t.`Name` AS tname,l.`Name` as lname FROM tb_taoti t LEFT JOIN tb_lesson l ON t.LessonID=l.ID) j 
  ON q.taotiid=j.tid where q.`id`=#{id,jdbcType=INTEGER}
  </select> 
   <resultMap type="com.hxzy.pojo.TbQuestions" id="QuestionsAndtaoti">
        <id column="ID" property="id" />
        <result column="subject" property="subject" />
         <result column="type" property="type" />
         <result column="optiona" property="optiona" />
         <result column="optionb" property="optionb" />
         <result column="optionc" property="optionc" />
         <result column="optiond" property="optiond" />
         <result column="note" property="note" />
         <result column="answer" property="answer" />
        	<association property="tbtaoti" javaType="com.hxzy.pojo.TbTaoti">        	
        	<result column="oneMark" property="onemark" /> 
        	<result column="muiltMark" property="muiltmark" /> 
        	<result column="duration" property="duration" />        	
        	</association>        
    </resultMap>
   <select id="queryQuestionsAndtaoti" parameterType="java.lang.Integer" resultMap="QuestionsAndtaoti">
 	SELECT q.*,t.oneMark,t.muiltMark,t.duration FROM tb_questions q LEFT JOIN tb_taoti t ON q.taoTiId=t.ID
  </select> 
</mapper>